[Desktop Entry]
Version=0.0.4
Type=Application
Name=Noted
Comment=Simple note-taking app
Exec=io.github.devklick.noted
Icon=io.github.devklick.noted.svg
Terminal=false
Categories=Utility;GNOME;GTK;
StartupNotify=true