name: Build Flatpak

on:
  push:
    branches:
      - "*"
    # tags:
    #   - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4

      - name: Install dependencies
        uses: bahmutov/npm-install@v1

      - name: Build project
        run: npm run build

      - name: Install Flatpak and dependencies
        run: |
          sudo apt update
          sudo apt install -y flatpak flatpak-builder meson ninja-build python3-gi gir1.2-gtk-4.0
          flatpak remote-add --user --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo

      - name: Build Flatpak
        run: |
          flatpak-builder --force-clean --user --install-deps-from=flathub --repo=repo build-dir io.github.devklick.noted.flatpak.yml

      - name: Export Flatpak Bundle
        run: |
          flatpak build-bundle repo noted.flatpak io.github.devklick.noted

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: noted-flatpak
          path: noted.flatpak
